<!DOCTYPE html>
{%load static%}
<html>
<head>
	<title>
		{% block heading %} {% endblock %} - Jacqueline Trousdale - Set and Costume Design
	</title>
	<link rel='stylesheet' type='text/css' href="{% static 'shows/style.css' %}" />
	<link rel='shortcut icon' type='image/png' href="/static/favicon.ico" />
	<script src="{%static 'shows/interactive.js'%}"></script>
</head>

<body>
<div id="container">
	<div id="header">
		<div id="title">
			<h1>Jacqueline Trousdale</h1>
			<h3>Set and Costume Design</h3>
		</div>
		<div id="menu">
			<li><a href="{% url 'index' %}">Home</a></li>	
			{% for element in menu %}
				<li><a href="{% url 'overview' element.link %}">{{element.title}}</a></li>
			{% endfor %}
		</div>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
		<div id='footer'>
			<p>&copy; Jacqueline Trousdale</p>
		</div>
	</div>
</div>
</body>
</html>
