{% extends 'shows/base.html' %}
{%block heading%}
Home
{%endblock%}

{%block content%}
	{% for show in featured %}
	<div id='featured' float: le>
		<div id='left_post'>
			<img src="{{ show.poster.url }}" id='poster'/>
			<h3>{{show.title}}</h3>
			<p>{{show.description|truncatewords:30}}</p>
		</div>
		<div id='right_post'>
			{%with show.imageelement_set.all|first as image%}
			<img src="{{ image.image.url }}" id='right_image'/>
			{%endwith%}
		</div>	
	</div>
	{% endfor%}
	{% for category in menu %}
	{% if category.show_set.all%}
	<div id="categorysnippet">
			<h2>{{category.title}}</h2>
			{% for show in category.show_set.all|slice:"3" %}
				<a href="{%url 'show' category.link show.link %}">
					<div class="snippet">
						<img src="{{show.poster.url}}" class="snippet"/>
					</div>
				</a>
			{% endfor %}
		</div>
	
	{%endif%}
	{% endfor%}
{% endblock %}
