{% extends 'shows/base.html' %}
{%block heading%}
{{category.title}}
{% endblock %}

{%block content%}
{% for show in shows %}
{% if show.site_live %}
<a href="{% url 'show' show.category.link show.link %}">
	
	<div id="show_view" class="{%cycle 'left' 'right' %}">
			{% if show.main_image %}
				<img src="{{ show.main_image.image.url }}" id='show_view'/>
			

			{% endif %}
			<div class='left'><h3>{{show.title}}</h3></div>
			<div class='right'><h3>{{show.director}}</h3></div>
		</div>
</a>
{% endif %}
{% endfor %}
{{text}}
{% for text in text_elements %}
	<h3>{{text.title}}</h3>
	{% for element in text.data %}
			{% if element.type == 'text' %}
				{{element.data|linebreaks}}			
			{% elif element.type == 'img' %}
				<img src='{{ element.data }}'/>
			{% elif element.type == 'link' %}
				{{element.data|safe}}
			{% endif %}
	{% endfor %}
{% endfor %}
{% endblock %}
