{% extends 'shows/base.html' %}
{%block heading%}
{{show.title}}
{%endblock%}

{%block content%}

	<div id='phototable'>

			<div>
			{% if show.images|length > 1 %}
			{% for image in show.images %}
				<a href='javascript:changephoto("{{image.image.url}}", "{{ image.title }}", "{{image.description }}")'>
					<img src='{{ image.image.url }}' class='smallphoto' alt="{{ image.title }}"/>
				</a>
			{% endfor%}
			{%endif%}
			</div>

			<div id='main'>
				{% if show.main_image%}
					<img src='{{ show.main_image.image.url }}' id='mainphoto' alt='{{ show.main_image.title }}'/>
				{% endif %}
			</div>
	</div>
	<div id='showinfo'>
		<div class='left'>
		<h2>{{show.title}}</h2>
		<h3>{{show.company}}</h3>
		<h3>{{show.director}}</h3>
		<div class='left'><a href='{{ show.company_page }}' target="_blank">Visit Site</a></div>
		<br>
		<p>{{show.description}}</p>
		</div>

	</div>

	<div id='photoinfo'>
		<div class='left'>
			<h3 id='photo_title'>{{show.main_image.title}}</h3>
			<p id='photo_description'>{{show.main_image.description}}</p>
		</div>
	</div>


	{% if reviews%}
	<div>
		<div id='review'>
				{%for review in reviews%}
					<div id='reviewbox'>
					<h2>{{review.title}}</h2>
					<h5>{{review.publisher}}</h5>
					<p>{{review.content|truncatewords:20}} <a href="{{review.link}}" target="_blank">See more</a></p>
					</div>
				{%endfor%}
		</div>
	</div>
	{% endif %}

	{% if posts%}
		{%for post in posts %}
			<h2></h2>
			<div class='show_posts'>
				<a href="{%url 'blog_detail' post.link %}"><h3>{{post.title}}</h3></a>
			</div>
		{%endfor%}
	{%endif%}
{% endblock %}
