body {

	background: #18121E;
}

#container{
	width: 1200px;
	margin: 0 auto;
}

.list_image {
	height: 500px;
}

#container h1 {
	color: #EAC67A;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
	
}

#container h2 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 18px;
	color: #fff35f;
	
}

#poster {
	width: 100%;
	padding-top: 20px;
	display: inline;
	height: 100%;
	float: left;
}

#left_post{
	width: 300px;
	float: left;
	clear: both;
}

#left_post h3, p {
	float: left;

	
}

#right_post{
	
	float: right;

}

#right_image{
	width: 875px;
	padding-top: 20px;
	
}

#phototable {
	width: 1240px;
}

div.table {
	display: inline-block;
	width: 30%;
	margin: 0;
	padding-right: 3%;
	vertical-align: top;
	padding-top: 15px;
}

img.table {
	display: inline;
	width: 100%;
}



#header {
	border-bottom: 1px solid #233237;
	margin-bottom: 20px;
}

#title {
	border-bottom: 1px solid #233237;

	
}

#container h3 {
	color: #984B43;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

p{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: white;
	word-break: break-word;
}

blockquote {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 17.5px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}
pre {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

#menu ul {
	display: inline;
	padding: 0;
	margin: 0;
}

#menu li {
	display: inline;
	margin-right: 10px;
}

#menu {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0;
}

a {
	color: #78ABBC;
	text-decoration: none;
}
#menu a {
	font-size: 18px;
}
a:hover {
	color: #92D2E8;
}

#showinfo
{
	border-top: 1px solid  #233237;
	margin-top: 20px;
}

.left {
	float: left;
}

.right{
	float: right;
}

#showdesc{
	width: 800px;
}

#rightreview{
	width: 350px;
	background: #5e4974;
	padding-left: 10px;
}

#categorysnippet{
	clear: both;
	padding-top: 50px;
	float: left;
}

img.snippet{
	height: 200px;
	padding-right: 5%;
	display: inline-block;
}

div.snippet{
	float: left;
	margin-right: 20px;
}