body {

	/*background: #18121E;*/
}

#container{
	width: 90%;
	margin: 0 auto;
}

.list_image {
	height: 500px;
}

#container h1 {
	color: #545C61;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;

}

#container h2 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 18px;
	color: #379683;

}




div.table {
	display: inline-block;
	width: 30%;
	margin: 0;
	padding-right: 3%;
	vertical-align: top;
	padding-top: 15px;
}




#header {
	border-bottom: 1px solid #B1A296;
	margin-bottom: 20px;
}

#title {
	border-bottom: 1px solid #B1A296;


}

#container h3 {
	color: #984B43;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

p{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: #18121E;
	padding-top: 10px
}

blockquote {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 17.5px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}
pre {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

#menu ul {
	display: inline;
	padding: 0;
	margin: 0;
}

#menu li {
	display: inline;
	margin-right: 10px;
}

#menu {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0;
}

a {
	color: #7395AE;
	text-decoration: none;
}
#menu a {
	font-size: 18px;
}
a:hover {
	color: #557A95;
}

#showinfo
{

	float: right;
	width: 28%;
	border-bottom: 1px solid #B1A296;
}

.left {
	float: left;
	clear:  left;
}

.right{
	float: right;
	clear: right;
}

#showdesc{
	width: 800px;
}

#review{
	padding-top: 100px;
	clear: both;
}

#reviewbox{

	float: left;
	width: 33%
}

#categorysnippet{
	clear: both;
	padding-top: 50px;
	float: left;
}

img.snippet{
	height: 200px;
	padding-right: 5%;
	display: inline-block;
}

div.snippet{
	float: left;
	margin-right: 20px;
}

#footer{
	border-top: 1px solid  #B1A296;
	text-align: center;
	clear: both;
}

div.show_image {
		width: 100%;
}
img.show_image{
	width: 100%;
}

div#left_detail {
	float: left;
	width: 47%;
}

div#right_detail {
	float: right;
	width: 47%;
	text-align: right;
}

div#detail_container{
	padding-bottom: 200px;
}

div#show_view {
	width: 49%;

	padding-right: 0;
}

img#show_view{

	width: 100%;

}

div#show_view h3{


}

div#show_table{
	width: 24%;
}

img.table{
	width: 100%;
}



img.smallphoto{
	height: 100px;
}

img#mainphoto{
	width: 100%;
}

#phototable {
	width: 70%;
	float: left;
}

#photoinfo{
	float: right;
	width: 28%;
}
